#header{
    z-index:1000;
	position:absolute;
	width:100%;
	top:0px;
}
#headerContent
{
	width:1000px;
	height:45px;
	position:relative;
	left:-500px;
	top:0px;
	margin-left:50%;
	border-bottom:1.5px solid #F7941E;
}

#headerBackground
{
    width:100%;
    height:100%;
    
    background: #4C4C4D;
    /*background: #1A1A1A; TO*/
    /*background: #4C4C4D;*/
    
    background-image: linear-gradient(bottom, #4C4C4D 0%, #1A1A1A 100%);
    background-image: -o-linear-gradient(bottom, #4C4C4D 0%, #1A1A1A 100%);
    background-image: -moz-linear-gradient(bottom, #4C4C4D 0%, #1A1A1A 100%);
    background-image: -webkit-linear-gradient(bottom, #4C4C4D 0%, #1A1A1A 100%);
    background-image: -ms-linear-gradient(bottom, #4C4C4D 0%, #1A1A1A 100%);
}

#headerVestnIcon
{
    position:absolute;
    
    width:200px;
    height:45px;
    left:412px;
}

/*/HEADER/*/


#changePasswordContainer
{
    background-color:#383838;
    
    position:relative;
    width:500px;
    left:50%;
    margin-left:-250px;
    top:300px;
    
    -moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
}

#changePasswordContainer fieldset
{
    border:none;
    text-align:center;
}

body
{
    background-image: linear-gradient(bottom, #FEE9CE 0%, #FAAB47 100%);
background-image: -o-linear-gradient(bottom, #FEE9CE 0%, #FAAB47 100%);
background-image: -moz-linear-gradient(bottom, #FEE9CE 0%, #FAAB47 100%);
background-image: -webkit-linear-gradient(bottom, #FEE9CE 0%, #FAAB47 100%);
background-image: -ms-linear-gradient(bottom, #FEE9CE 0%, #FAAB47 100%);
}

.formGroup
{
    position:relative;
    width:400px;
    left:50%;
    margin-left:-200px;
	font-size:20px;
    color:#EEE;
    font-family:Trebuchet MS;
}

.formGroup input
{
    margin-top:5px;
}

.formGroup .formGroupSubmit
{
    margin-top:30px;
    margin-bottom:10px;
    
	font-size:20px;
    color:#EEE;
    font-family:Trebuchet MS;
    
    padding:5px 15px 5px 15px;
    
    -moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
}