
@{
    ViewBag.Title = "fileexist";
}

<h2>fileexist</h2>

<input type="button" id="btnCheck" value="CHECK">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="../../Scripts/uploading.js"></script>