@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>testNewRegister</title>
</head>
<body>
    <div>
        <input type="text" name = "Email" id="Email"/> <br />
        <input type="password" name = "Password" id="Password"/> <br />
        <input type="submit" value="Submit" id="btnRegister"/>
    </div>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
<script type="text/javascript" src="../../Scripts/testRegister.js?1.2"></script>
