@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>testLogon</title>
</head>
<body>
    <div>
        <form id="login" method="post">
        <input type="text" name = "UserName" id="emailInput1"/> <br />
        <input type="password" name = "Password" id="passwordInput1"/> <br />
        <input type="checkbox" name = "rememberme?" id="rememberMeCheckbox1" />
        <input type="submit" value="Submit" id="btnLogin" />
        </form>
    </div>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
<script type="text/javascript" src="../../Scripts/testLogon.js?1.0.10"></script>