<div id="aboutTemplate">
	
	<div id="about-aboutCircleContainer">
		
		<div id="about-circleCircles">
			<div class="splashSpriteImage customerTeam"></div>
			<div class="splashSpriteImage operationsTeam"></div>
			<div class="splashSpriteImage productTeam"></div>
		</div>
		
		<div id="about-outerCircle" class="about-circle">
			<ul>
				<!--<li id="about-Kyle" class="splashSpriteImage kyle"></li>
				<li id="about-Jake" class="splashSpriteImage jake"></li>-->
				<li id="about-Future5" class="splashSpriteImage largeProfilePic"></li>
				<li id="about-Future6" class="splashSpriteImage largeProfilePic"></li>
				
				<li id="about-Steven" class="splashSpriteImage steven"></li>
				<li id="about-Future1" class="splashSpriteImage largeProfilePic"></li>
				<li id="about-Future2" class="splashSpriteImage largeProfilePic"></li>
				<li id="about-Future3" class="splashSpriteImage largeProfilePic"></li>
				<li id="about-Future4" class="splashSpriteImage largeProfilePic"></li>
			</ul>
				
		</div>
		
		<div id="about-innerCircle" class="about-circle">
			<ul>
				<li id="about-Conner" class="splashSpriteImage conner"></li>
				<li id="about-Brian" class="splashSpriteImage brian"></li>
				<li id="about-Phil" class="splashSpriteImage phil"></li>
			</ul>
		</div>
		
		<div id="about-circleMessage">
			<div id="about-Everyone-Message" class="about-circleMessageItem"><span style="color:#FFA43C;font-size:17px;"><b>THE MISSION</b></span><br /><br /><span style="font-size:25px;color:#444">Bring portable value to education and personal marketing</span></div>
			<div id="about-Conner-Message" class="about-circleMessageItem">
				<div class="about-name">Conner Dana</div>
				<div class="about-title">Chief Executive Officer</div>
				<div class="about-description">Conner is primarily in charge of sales, marketing, and customer relations. He also oversees budgeting, accounting, and contract negotiation.</div>
			</div>
			<div id="about-Brian-Message" class="about-circleMessageItem">
				<div class="about-name">Brian Cary</div>
				<div class="about-title">Chief Customer Officer</div>
				<div class="about-description">Brian is primarily involved in the client relationship and acquisition process but also implements the most advanced techniques and technologies to keep Vestn at the forefront of web practices.</div>
			</div>
			<div id="about-Phil-Message" class="about-circleMessageItem">
				<div class="about-name">Phil Baylog</div>
				<div class="about-title">Chief Technology Officer</div>
				<div class="about-description">Phil encourages high quality and efficient development cycles as well as strong team and strategy cohesion across multiple aspects of company operations.</div>
			</div>
			<div id="about-Kyle-Message" class="about-circleMessageItem">
				<div class="about-name">Kyle Wurtz</div>
				<div class="about-title">UX Developer</div>
				<div class="about-description">Kyle does this</div>
			</div>
			<div id="about-Jake-Message" class="about-circleMessageItem">
				<div class="about-name">Jake Tayler</div>
				<div class="about-title">System Developer</div>
				<div class="about-description">Jake does this</div>
			</div>
			<div id="about-Steven-Message" class="about-circleMessageItem">
				<div class="about-name">Steven Balters</div>
				<div class="about-title">Director of Communication</div>
				<div class="about-description">Steven oversees all outgoing communication including blogs, industry reports, email, and marketing efforts.</div>
			</div>
		</div>
		
	</div>
	
	<div id="about-moreAboutUs">
		
	</div>
</div>

<script src="scripts/about.js" type="text/javascript"></script>