<div id="contactTemplate">
	<div id="contact-orangeBorder"></div>
	<div id="contact-card">
		<div class="contact-title">Vestn, LLC</div>
		<div class="contact-address">630 N 14th St.<br />Lincoln, NE 68508 USA</div>
		<div class="contact-support">
			<div class="contact-classification">support</div>
			<div class="contact-email">support@vestn.com</div>
			<div class="contact-phone">(402) 531-1201</div>
		</div>
		<div class="contact-else">
			<div class="contact-classification">anything else</div>
			<div class="contact-email">sayhi@vestn.com</div>
			<div class="contact-phone">(402) 112-3021</div>
		</div>
	</div>
</div>