<div id="loginTemplate">
	<div id="login-profileIcon"><div class="splashSpriteImage smallProfilePic"></div></div>
	<div id="login-loginForm">
		<input id="login-email" class="login-inputField" placeholder="email" />
		<input id="login-password" class="login-inputField" type="password" placeholder="password" />
		<input id="login-loginButton" class="blackSplashButton" type="submit" value="Login" />
		<div id="login-statusText">logging in...</div>
	</div>
	<div id="login-minimizeButton"><div class="splashSpriteImage minimizeIcon"></div></div>
</div>

<script src="scripts/login.js" type="text/javascript"></script>