<div id="signUpTemplate">
	<div id="signUp-message">We think creating an account <i>should</i> be this simple.<br /><br />(Just don't mess this up)</div>
	<form id="signUp-createAccountForm">
		<div id="signUp-icon" class="splashSpriteImage largeProfilePic"></div>
		<div id="signUp-leftContent">first month<br /><span class="signUp-freeText">FREE</span></div>
		<div id="signUp-rightContent"><span class="orangeTextLight">You'll get Vestn free for one moth to try it out before we think of charging you!</span><br /><br />Join a network within that amount of time and its only $8/year...<br /><br />Or, go maverick and its $20/year.</div>
		<input id="signUp-email" class="signUp-textInput" placeholder="email" />
		<input id="signUp-password" class="signUp-textInput" type="password" placeholder="password" />
		<div id="signUp-bottomContent">
			<input type="submit" id="signUp-createAccountButton" class="orangeSplashButton" value="CREATE ACCOUNT" />
		</div>
		<div id="progressbar"></div>
	</form>
</div>

<script src="scripts/signUp.js" type="text/javascript"></script>