<div id="tourTemplate">
	<div class="container">
		<div class="tour-leftContent">
			
			<div id="tour-navList-verticalLine"></div>
			<ul class="tour-navList">
				<li id="tour-nav-overview" class="tour-navItem active"><div class="splashSpriteImage tourImage overview"></div>overview</li>
				<li id="tour-nav-collaborate" class="tour-navItem"><div class="splashSpriteImage tourImage collaborate"></div>collaborate</li>
				<li id="tour-nav-archive" class="tour-navItem"><div class="splashSpriteImage tourImage archive"></div>archive</li>
				<li id="tour-nav-reflect" class="tour-navItem"><div class="splashSpriteImage tourImage reflect"></div>reflect</li>
				<li id="tour-nav-demonstrate" class="tour-navItem"><div class="splashSpriteImage tourImage demonstrate"></div>demonstrate</li>
				<li id="tour-nav-getStarted"><div class="splashSpriteImage tourImage getStarted"></div><div id="tour-getStartedButton" class="orangeSplashButton">GET STARTED</div></li>
			</ul>
		</div>
		<div class="tour-rightContent">
			<div id="tour-content-overview" class="tourRightContentView">
				<div class="tour-content-header">What is Vestn?</div>
				<div class="tour-content-subHeader"><span class="orangeText"><i><b>Vestn</b></i></span> is a tool that allows you to highlight your work and experience in order to demonstrate who you are and what you are capable of.</div>
				<div class="tour-content-video"></div>
			</div>
		</div>
	</div>
</div>

<script src="scripts/tour.js" type="text/javascript"></script>