@model UserClientMembers.Models.UserModel
@using UserClientMembers.Models

<div id="inviteFriendNameInput">
<sh4 style="margin-top:5px;margin-right:10px;">Name </sh4><input class="inviteFriendInput" />
</div>

<div id="inviteFriendEmailInput">
<sh4>Email </sh4><input class="inviteFriendInput" />
</div>

<div id="inviteFriendButton" class="blue button">
    <b>Invite</b>
</div>