@model UserClientMembers.Models.UserModel
@using UserClientMembers.Models

<div id="submitFeedback">

    <textarea id="submitFeedbackText">Example: Great site! Could you please add company profiles?</textarea>
    
    <a id="submitFeedbackButton" class="orange button">Submit</a>

</div>