@model UserClientMembers.Models.UserModel
@using UserClientMembers.Models

<a id="copyLinkButton" class="orange button">Copy Link</a>

<div id="copyLinkText">
    <sh4>ctrl + c</sh4>
    <br />
    <input class="c1" spellcheck="false"  />
</div>
<br /><br />

    <!-- AddThis Button BEGIN -->
<div id="addThisLinks" addthis:url="www.vestn.com/v/@Model.profileURL" class="addthis_toolbox addthis_default_style addthis_32x32_style">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4edfd5a6319409c3"></script>
<!-- AddThis Button END -->

</sh4>