@using UserClientMembers.Models

<link rel="stylesheet" type="text/css" href="../../Content/Stylesheets/headerOff.css?1.0.7" />

<div id="header">
    <div id="headerContent">
        <div id="headerLogo" style="cursor: pointer;">
            <a href="@Url.Action("Index", "Home")">
                <img src="../../Content/Images/VestnLogo.png" alt="VESTN" width="100%" height="100%">
            </a>
        </div>
        <div id="showWhatYouCanDoLogo">            <img src="../../Content/Images/ShowWhatYouCanDo.png" alt="Show what you can do."
                width="100%" height="100%">
        </div>
        @Html.Partial("_LogOnPartial", new LogOnModel())
    </div>
</div>

<script type="text/javascript" src="../../Scripts/headerActions.js?1.0.7"></script>