@model UserClientMembers.Models.HelpTips
           

<div class="tooltip">

	<img src="../../Content/Images/favicon.ico" alt="Flying screens" style="float:left;margin:0 15px 20px 0" />

	<table style="margin:0">
        	<p style="font-size:20px">
                @Model.HelpTipsText
            <p/>
	</table>

</div>