<div id="popUpWrap">
    <div id="popUp">
        <div class="messageWrap">
            <div class="message">
                Sample Message
            </div>
        </div>
        <div class="textareaWrap">
            <textarea></textarea>
        </div>
        <div class="buttonsWrap">
            <div class="buttons">
                <div class="orange button">
                    Something</div>
                <div class="orange button">
                    No</div>
                <div class="orange button">
                    Maybe?</div>
            </div>
        </div>
    </div>
</div>
