@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<a href="http://vestn.com" target="_blank" style = "left:50%; margin-left:-415px; position:absolute;"> <img src="../../Content/Images/404image.png" width="833" height ="475" > </a>
