<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>

		<head>
			<link rel="stylesheet" href="../../Content/stylesheets/site.css" type="text/css">

			<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
			<script src="../../Scripts/bbq.js" type="text/javascript"></script>
			<script src="../../Scripts/jsrender.js" type="text/javascript"></script>
			<script src="../../Scripts/global.js" type="text/javascript"></script>
			<title>Vestn</title>	
		</head>
		
		<body>
			<div id="splashContainer">
				<div id="topHeader">
					<div class="topHeaderContent">
					<div class="headerLeft">
						<div class="topLeftVestnLogo"><img src="../../Content/images/Header-VestnLogo.png"></div>
					</div>
					<div class="headerNav">
						<ul>
							<li id="navItem-contact" class="navItem">Contact Us</li>
							<li>|</li>
							<li id="navItem-blog" class="navItem">Company Blog</li>
							<li>|</li>
							<li id="navItem-about" class="navItem">About Us</li>
							<li>|</li>
							<li id="memberLoginButton" class="memberLoginButton orangeSplashButton"><span style="color:#444;font-weight:700;">Member Login</span></li>
						</ul>
					</div>
					<div id="login"></div>
					</div>
				</div>
				<div id="bottomHeader">
					<div class="bottomHeaderContent">
						<div class="headerNav">
							<ul>
								<li id="navItem-tour" class="navItem">TOUR</li>
								<li id="navItem-examples" class="navItem">EXAMPLES</li>
								<li id="navItem-pricing" class="navItem">PRICING</li>
								<li id="navItem-signUp" class="navItem">SIGN UP</li>
							</ul>

						</div>
						<div class="headerTitle">Portable Value</div>
						<div class="headerSubTitle">Portable Value means that no matter what class, job, or experience a person has, he or she will always have a clear visual record of the lessons learned.</div>
					</div>
				</div>
				
				<div id="splashMain">
						<div id="splashContent-tour" class="mainContent"></div>
						<div id="splashContent-examples" class="mainContent"></div>
						<div id="splashContent-pricing" class="mainContent"></div>
						<div id="splashContent-signUp" class="mainContent"></div>
						<div id="splashContent-about" class="mainContent"></div>
						<div id="splashContent-blog" class="mainContent"></div>
						<div id="splashContent-contact" class="mainContent"></div>
				</div>
			</div>
			
			<script src="../../Scripts/splash.js" type="text/javascript"></script>
			
		</body>
</html>
		
		