<div class="timelineIcon audioIcon"></div>
<div class="artifactContent" style="text-align:center">
	<div class="artifactTitle">
		{{:title}}
	</div>
	<audio controls="controls" style="margin-top:10px; width:80%">
	                    <source src="{{:location}}" type="audio/mpeg">
	                    <source src="{{:location}}" type="audio/ogg">
	                    <source src="{{:location}}" type="audio/mp3">
	                    <source src="{{:location}}" type="audio/wav">
	</audio>
	<div class="artifactDescription">
		{{:description}}
	</div>
</div>