@model UserClientMembers.Models.LogOnModel
@{
    Layout = "~/Views/Home/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="../../Content/Stylesheets/about.css?1.0.7">
<div id="main">
    <div id="mainContent">
        <div id="topContent">
            <div class="text">
                <sh1>
                        Vestn lets you quickly share snapshots of your work by uploading documents, pictures, and videos to your own personal profile.  
                        This simple site is intended for every college major and every career field.<br /><br />
                        If you love the job you have now, then show others why.  If you don't have a job, then use this site as a way to stand out from your peers.<br /><br />
                        We are a group of students who believe that visual media speaks louder than just words on a resume.  Start showing people the cool things you do.<br /><br />
                        Vestn lets you quickly share snapshots of your work by uploading documents, pictures, and videos to your own personal profile.  
                        This simple site is intended for every college major and every career field.<br /><br />
                        If you love the job you have now, then show others why.  If you don't have a job, then use this site as a way to stand out from your peers.<br /><br />
                        We are a group of students who believe that visual media speaks louder than just words on a resume.  Start showing people the cool things you do.
                </sh1>
            </div>
        </div>
        <div id="bottomContent">
        </div>
    </div>
</div>



<script type="text/javascript" src="../../Scripts/index.js?1.0.7"></script>
