<h2>Vestn API</h2>
<form action="/Project/AddArtifact_Media" method="POST" enctype="multipart/form-data">
<label for="file">Filename:</label>
<input type="file" name="file" id="file" /> 
<br />
<input type="hidden" name="projectId" value="2" />
<input type="hidden" name="token" value="684daa8b31e2b8f3011facb642a1f2572e895bd9" />
<input type="submit" name="submit" value="Submit" />
</form>